---
layout: layout.njk
title: Buy mahjong HTML5 Games
breadcrumb: 99mechanics
active_99mechanics: active
---
<!-- Heading Row-->
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
    <div class="col-lg-5">
        <h1 class="font-weight-light">Buy this mahjong HTML5 game !</h1>
        <p>License this mahjong HTML5 game for your game portal or website. One time payment.</p>
    </div>
</div>
<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <img src="https://img.freepik.com/free-vector/gradient-dragon-boat-s-zongzi-background_52683-62045.jpg?t=st=1709246608~exp=1709250208~hmac=163661d27e8f0d76ae6cad1d9287aa3c1cf107e603c265accf5a5b640578e52a&w=1380" class="img-fluid mb-2" alt="">
                <h2 class="card-title">Chinese Zodiac Mahjong</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm w-100 my-2 p-4" href="">Request this game</a></div>
        </div>
    </div>
</div>